@model List<StarGazersUniversity.Models.Student>

@if (!Model.Any())
{
    <p>We don't have any students enrolled.</p>
}
else
{
    <h2> All Students enrolled in the class @Model[0].Class</h2>

    <form method="post">
        <legend>Filter By</legend>
        <label for="Filter">Student</label>
        <input maxlength="15" name="Filter" /> <br />

        <select name="Class" width="10">
            <option value="" disabled="disabled" selected="selected">Select a class</option>
            <option value="Sky Scripters">Sky Scripters</option>
            <option value="Wonder Code">Wonder Code</option>
            <option value="Super Phase">Super Phase</option>
            <option value="Gazer Beam">Gazer Beam</option>
        </select>

        <button type="submit">Go!</button>
    </form>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Birth Date</th>
                <th>City</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var student in Model)
            {
                <tr>
                    <td>@student.FirstName</td>
                    <td>@student.LastName</td>
                    <td>@student.DOB</td>
                    <td>@student.City</td>
                </tr>
            }
        </tbody>
    </table>
}